<%# locals: (priorbank_account:) %>

<div class="p-4 flex items-center justify-between gap-3 group/priorbank-account">
  <div class="flex items-center gap-3">
    <div class="flex items-center justify-center h-10 w-10 bg-primary/10 rounded-full">
      <%= icon "building-2", size: "sm", class: "text-primary" %>
    </div>

    <div>
      <div>
        <p class="text-sm font-medium text-primary">
          <%= priorbank_account.name %>
        </p>
      </div>
      <p class="text-sm text-secondary truncate"><%= priorbank_account.account_type %> • <%= priorbank_account.account_number %></p>
      <p class="text-sm text-secondary">
        <% if priorbank_account.syncing? %>
          <div class="flex items-center gap-1">
            <%= icon "loader", size: "sm", class: "animate-spin" %>
            <%= tag.span t(".syncing") %>
          </div>
        <% elsif priorbank_account.sync_error.present? %>
          <div class="flex items-center gap-1">
            <%= render DS::Tooltip.new(text: priorbank_account.sync_error, icon: "alert-circle", size: "sm", color: "destructive") %>
            <%= tag.span t(".error"), class: "text-destructive" %>
          </div>
        <% else %>
          <% if priorbank_account.last_synced_at %>
            <%= t(".status", timestamp: time_ago_in_words(priorbank_account.last_synced_at)) %>
          <% elsif priorbank_account.account.present? %>
            <%= t(".status_never") %>
          <% end %>
        <% end %>
      </p>
    </div>

    <% if priorbank_account.account.blank? %>
      <%= link_to link_priorbank_account_path(priorbank_account),
                  data: { turbo_frame: "modal" },
                  class: "group-hover/priorbank-account:flex hidden hover:opacity-80 items-center justify-center" do %>
        <%= icon("link", size: "sm") %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center gap-2">
    <% if priorbank_account.last_synced_at || priorbank_account.sync_error %>
      <%= link_to sync_details_priorbank_account_path(priorbank_account), data: { turbo_frame: "modal" } do %>
        <%= icon("info", as_button: true, size: :sm) %>
      <% end %>
    <% end %>
    <% if priorbank_account.account.present? && !priorbank_account.syncing? %>
      <%= link_to sync_priorbank_account_path(priorbank_account),
                  data: { turbo_method: :post },
                  title: t("accounts.sync.trigger") do %>
        <%= icon("refresh-cw", as_button: true, size: :sm) %>
      <% end %>
    <% end %>
    <p class="text-sm font-medium text-primary">
      <%= Money.new(priorbank_account.current_balance, priorbank_account.currency).format %>
    </p>
  </div>
</div>
