<%# locals: (priorbank_account:) %>

<div class="p-4 flex items-center justify-between gap-3 group/priorbank-account">
  <div class="flex items-center gap-3">
    <div class="flex items-center justify-center h-10 w-10 bg-primary/10 rounded-full">
      <%= icon "building-2", size: "sm", class: "text-primary" %>
    </div>

    <div>
      <div>
        <p class="text-sm font-medium text-primary">
          <%= priorbank_account.name %>
        </p>
      </div>
      <p class="text-sm text-secondary truncate"><%= priorbank_account.account_type %> • <%= priorbank_account.account_number %></p>
    </div>

    <% if priorbank_account.account.blank? %>
      <%= link_to link_priorbank_account_path(priorbank_account),
                  data: { turbo_frame: "modal" },
                  class: "group-hover/priorbank-account:flex hidden hover:opacity-80 items-center justify-center" do %>
        <%= icon("link", size: "sm") %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center gap-2">
    <% if priorbank_account.last_synced_at %>
      <%= link_to sync_details_priorbank_account_path(priorbank_account), data: { turbo_frame: "modal" }, class: "text-secondary hover:text-primary" do %>
        <%= icon("info", size: "sm") %>
      <% end %>
    <% end %>
    <% if priorbank_account.syncing? %>
      <div class="w-16 h-6 bg-loader rounded-full animate-pulse"></div>
    <% else %>
      <p class="text-sm font-medium text-primary">
        <%= Money.new(priorbank_account.current_balance, priorbank_account.currency).format %>
      </p>
    <% end %>
  </div>
</div>
